
/* Estilo basico para mobile first */
.btn{
    padding: 1rem 1.25rem;
    font-size: 1rem;
    width: 100%;
    max-width: 10rem;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 0.375rem;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
}

.btn:hover{
    background-color: #2980b9;
}

.btn:disabled{
    background-color: #bdc3c7;
    cursor: not-allowed;
}

.secondary {
    background-color: #2ecc71; /* bg-green */
}

/* Media query para pantallas medianas (tablets) */
@media (min-width: 768px) {
    .button {
        font-size: 1.125rem; 
        padding: 0.875rem 1.5rem; 
        width: auto; 
    }
}

/* Media query para pantallas grandes (desktops) */
@media (min-width: 1024px) {
    .button {
        font-size: 1.25rem; 
        padding: 1rem 2rem; 
    }
}
